@using PrimeRentACar.Models;
@model Members

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Prime Car</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/assets/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/css/util.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                
                <img src="~/assets/img/LoginCover.png" />
                <form class="login100-form validate-form" method="post">
                    @Html.AntiForgeryToken()
                    @if (ViewBag.Info != null)
                    {
                        <div class="alert alert-info" role="alert">
                            @ViewBag.Info
                        </div>
                    }
                    @if (ViewBag.message != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            <strong>Hatalı Giriş! @ViewBag.name </strong> @ViewBag.message
                        </div>
                    }
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                        <span class="label-input100">E-Posta</span>
                        @Html.TextBoxFor(m => m.Email, new { @class = "input100", @type = "email", @name = "email", @placeholder = "example@example.com" })
                        <!--<input class="input100" type="email" name="email" placeholder="example@example.com">-->
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                        <span class="label-input100">Şifre</span>
                        @Html.TextBoxFor(m => m.Password, new { @class = "input100", @type = "password", @name = "password", @placeholder = "123****" })
                        <!--<input class="input100" type="password" name="password" placeholder="123****">-->
                        <span class="focus-input100"></span>
                    </div>

                    <div class="flex-sb-m w-full p-b-30">
                        <div>
                            <a href="/Security/SignUp" class="txt1">
                                Prime Ayrıcalıkları İçin Kayıt Olun
                            </a>
                        </div>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="btn btn-primary" type="submit">
                            Prime Dünyasına Giriş Yap
                        </button>
                      
                    </div> 
                
                </form>

            </div>
        </div>

        <footer class="footer">
            <p class="lead" style="text-align:center;">PRIME ARAÇ KİRALAMA HİZMETLERİ © 2020</p>
        </footer>
            
    </div>

    <!--===============================================================================================-->
    <script src="/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/assets/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="/assets/vendor/bootstrap/js/popper.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="/assets/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="/assets/vendor/daterangepicker/moment.min.js"></script>
    <script src="/assets/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="/assets/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="/assets/js/main.js"></script>

</body>
</html>
